body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #434455;
}

.logotype {
    font-family: "Raleway",
        sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    color:#2E2F42;
}
.logotype .logo {
    color: #4D5AE5;
}

.nav .nav-studio,
.nav .nav-contacts,
.nav .nav-portfolio {
    font-weight: 500;
    font-size: 16px; 
    letter-spacing: 0.02em;
    color:#2E2F42;
}
.nav-studio:hover,
.nav-studio:focus,
.nav-contacts:hover,
.nav-contacts:focus,
.nav-portfolio:hover,
.nav-portfolio:focus {
    color: #404BBF;
}
.nav-studio:active {
    text-decoration: underline;
}

.contact-link {
    font-size: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    color:#434455;
    }
.contact-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
}
.main-title {
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
}
.button {
    background-color: #4D5AE5;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button:hover,
.button:active,
.button:focus {
    background-color: #404BBF;
}

.our-features-title {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.our-features-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team {
    background-color: #F4F4FD;
}
.our-team-title {
    font-size: 36px;
    font-weight: 700;
    color: #2E2F42;
    text-align: center;
    line-height: 1.111;
    letter-spacing: 0.02em;
}
.our-team .person {
    background-color: #FFFFFF;
}
.our-team .person-name {
    color:#2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.our-team .person-text {
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.our-portfolio-title {
    font-size: 36px;
    font-weight: 700;
    color: #2E2F42;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.111;
}
.our-portfolio-item {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.our-portfolio-text {
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.footer-logotype {
    font-family: "Raleway",
        sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}
.footer-logotype .logo {
    color: #4D5AE5;
}